# Python bytecode files
*.pyc
__pycache__/

# Python environment
env/
venv/
*.egg-info/
dist/
build/
*.pyo
*.pyd
.Python
*.log
*.cache

# IDE and editor files
.idea/
.vscode/
*.swp
*.bak
*.tmp

# Project-specific large or temporary files
trt_cache/
train_results/
CocoData/eval_metrix_dataset/
CocoData/model_test/
SyntheticData_main/Obj_Greenscreen/
SyntheticData_main/PortraitBackgrounds/
SyntheticData_main/TikTok_dataset/
SyntheticData_main/VideoMatte240K_JPEG_SD/ 
CocoData/.editorconfig
CocoData/*.json
CocoData/train_coco_dataset_without_obj/
CocoData/train_mapillary_without_obj/
CocoData/val_coco_dataset_without_obj/
other/models/*.onnx
